In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter

In [3]:
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix

In [4]:
train_df = pd.read_csv(Path('Resources/2019loans.csv'))
test_df = pd.read_csv(Path('Resources/2020Q1loans.csv'))

Read the CSV and Perform Basic Data Cleaning

In [5]:
# Convert categorical data to numeric and separate target feature for training data
columns = [
    "loan_amnt", "int_rate", "installment", #"home_ownership",
    #"annual_inc", "verification_status", "issue_d", 
    "loan_status",
    #"pymnt_plan", 
    "dti", "delinq_2yrs", "inq_last_6mths",
    "open_acc", "pub_rec", "revol_bal", "total_acc",
    #"initial_list_status", 
    "out_prncp", #"out_prncp_inv",
    "total_pymnt", #"total_pymnt_inv", 
    "total_rec_prncp", #"total_rec_int", "total_rec_late_fee",
    "recoveries", "collection_recovery_fee", "last_pymnt_amnt", #"next_pymnt_d",
    "collections_12_mths_ex_med", #"policy_code", "application_type", "acc_now_delinq",
    "tot_coll_amt", "tot_cur_bal", "open_acc_6m", "open_act_il",
    "open_il_12m", "open_il_24m", "mths_since_rcnt_il", "total_bal_il",
    "il_util", "open_rv_12m", "open_rv_24m", "max_bal_bc",
    "all_util", "total_rev_hi_lim", "inq_fi", "total_cu_tl",
    "inq_last_12m", "acc_open_past_24mths", "avg_cur_bal", "bc_open_to_buy",
    "bc_util", "chargeoff_within_12_mths", "delinq_amnt", "mo_sin_old_il_acct",
    "mo_sin_old_rev_tl_op", "mo_sin_rcnt_rev_tl_op", "mo_sin_rcnt_tl", "mort_acc",
    "mths_since_recent_bc", "mths_since_recent_inq", "num_accts_ever_120_pd", "num_actv_bc_tl",
    "num_actv_rev_tl", "num_bc_sats", "num_bc_tl", "num_il_tl",
    "num_op_rev_tl", "num_rev_accts", "num_rev_tl_bal_gt_0",
    "num_sats", "num_tl_120dpd_2m", "num_tl_30dpd", "num_tl_90g_dpd_24m",
    "num_tl_op_past_12m", "pct_tl_nvr_dlq", "percent_bc_gt_75", "pub_rec_bankruptcies",
    "tax_liens", "tot_hi_cred_lim", "total_bal_ex_mort", "total_bc_limit",
    "total_il_high_credit_limit"#, "hardship_flag", "debt_settlement_flag"
]

target = ["loan_status"]

In [32]:
# Create our features
X = pd.get_dummies(df.drop('loan_status', axis=1))

# Create our target
y = df[['loan_status']]

In [33]:
X.describe()

,Unnamed: 0,index,loan_amnt,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,...,verification_status_Verified,pymnt_plan_n,initial_list_status_f,initial_list_status_w,application_type_Individual,application_type_Joint App,hardship_flag_N,hardship_flag_Y,debt_settlement_flag_N,debt_settlement_flag_Y
count,12180.000000,12180.000000,12180.000000,12180.000000,12180.000000,1.218000e+04,12180.000000,12180.000000,12180.000000,12180.000000,...,12180.000000,12180.0,12180.000000,12180.000000,12180.000000,12180.000000,12180.000000,12180.000000,12180.000000,12180.000000
mean,187893.694745,187893.694745,17399.579228,0.140899,509.150241,8.989320e+04,22.589516,0.256979,0.566502,12.680296,...,0.164039,1.0,0.083908,0.916092,0.853859,0.146141,0.971429,0.028571,0.999589,0.000411
std,99710.342179,99710.342179,10238.160884,0.052679,294.617726,1.684370e+05,23.903223,0.803027,0.814674,6.154663,...,0.370327,0.0,0.277261,0.277261,0.353262,0.353262,0.166605,0.166605,0.020258,0.020258
min,24.000000,24.000000,1000.000000,0.060000,30.890000,5.000000e+02,0.100000,0.000000,0.000000,2.000000,...,0.000000,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,104269.250000,104269.250000,10000.000000,0.103300,286.902500,5.000000e+04,14.500000,0.000000,0.000000,8.000000,...,0.000000,1.0,0.000000,1.000000,1.000000,0.000000,1.000000,0.000000,1.000000,0.000000
50%,190128.000000,190128.000000,15000.000000,0.130800,438.530000,7.300000e+04,20.375000,0.000000,0.000000,11.000000,...,0.000000,1.0,0.000000,1.000000,1.000000,0.000000,1.000000,0.000000,1.000000,0.000000
75%,274595.750000,274595.750000,25000.000000,0.177400,682.230000,1.035850e+05,27.290000,0.000000,1.000000,16.000000,...,0.000000,1.0,0.000000,1.000000,1.000000,0.000000,1.000000,0.000000,1.000000,0.000000
max,355312.000000,355312.000000,40000.000000,0.308400,1671.880000,9.682505e+06,999.000000,15.000000,5.000000,65.000000,...,1.000000,1.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [34]:
y.describe()

       loan_status
count        12180
unique           2
top       low_risk
freq          6090

In [6]:
# Convert categorical data to numeric and separate target feature for testing data
x = {'Current': 'low_risk'}   
df = train_df.replace(x)

x = dict.fromkeys(['Late (31-120 days)', 'Late (16-30 days)', 'Default', 'In Grace Period'], 'high_risk')    
df = df.replace(x)

df.reset_index(inplace=True, drop=True)

df.head()
x = {'Current': 'low_risk'}   
df = df.replace(x)

x = dict.fromkeys(['Late (31-120 days)', 'Late (16-30 days)', 'Default', 'In Grace Period'], 'high_risk')    
df = df.replace(x)

df.reset_index(inplace=True, drop=True)

df.head()

,Unnamed: 0,index,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,loan_status,pymnt_plan,...,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag
0,57107,57107,13375.0,0.1797,483.34,MORTGAGE,223000.0,Not Verified,low_risk,n,...,100.0,50.0,0.0,0.0,577150.0,122018.0,32000.0,170200.0,N,N
1,141451,141451,21000.0,0.1308,478.68,MORTGAGE,123000.0,Source Verified,low_risk,n,...,85.0,33.3,0.0,0.0,132750.0,27896.0,15900.0,35398.0,N,N
2,321143,321143,20000.0,0.1240,448.95,MORTGAGE,197000.0,Source Verified,low_risk,n,...,85.7,33.3,0.0,0.0,628160.0,114043.0,22600.0,90340.0,N,N
3,11778,11778,3000.0,0.1240,100.22,RENT,45000.0,Not Verified,low_risk,n,...,100.0,16.7,1.0,0.0,42006.0,20761.0,19900.0,15406.0,N,N
4,169382,169382,30000.0,0.1612,1056.49,MORTGAGE,133000.0,Source Verified,low_risk,n,...,100.0,66.7,0.0,0.0,283248.0,109056.0,79500.0,58778.0,N,N

In [12]:
# Check the balance of our target values
# 1 = low risk, 0 = high risk
y['loan_status'].value_counts()

1    6090
0    6090
Name: loan_status, dtype: int64

In [36]:
# Split the X and y into X_train, X_test, y_train, y_test
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)
X_train.shape

(9135, 94)

In [13]:
# converting y back to a series
y = y['loan_status']
type(y)

pandas.core.series.Series

In [52]:
# Display the confusion matrix
pd.DataFrame(
    index=["High Risk", "Low Risk"],
    columns=["Positive", "Negative"]
)

          Positive Negative
High Risk      NaN      NaN
Low Risk       NaN      NaN

In [58]:
# Create X_train, X_test, y_train, y_test
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [59]:
# Train the Logistic Regression model on the unscaled data and print the model score
from sklearn.datasets import make_blobs

X, y = make_blobs(centers=2, random_state=42)

print(f"Labels: {y[:10]}")
print(f"Data: {X[:10]}")
X, y = make_blobs(centers=3, random_state=42)

Labels: [0 1 0 1 1 0 1 1 0 0]
Data: [[-2.98837186  8.82862715]
 [ 5.72293008  3.02697174]
 [-3.05358035  9.12520872]
 [ 5.461939    3.86996267]
 [ 4.86733877  3.28031244]
 [-2.14780202 10.55232269]
 [ 4.91656964  2.80035293]
 [ 3.08921541  2.04173266]
 [-2.90130578  7.55077118]
 [-3.34841515  8.70507375]]

In [60]:
# Split the X and y into X_train, X_test, y_train, y_test
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [61]:
# Train a Random Forest Classifier model and print the model score
importances = list(zip(df.columns))
importances.sort(reverse=True)
importances

[('verification_status',),
 ('total_rev_hi_lim',),
 ('total_rec_prncp',),
 ('total_rec_late_fee',),
 ('total_rec_int',),
 ('total_pymnt_inv',),
 ('total_pymnt',),
 ('total_il_high_credit_limit',),
 ('total_cu_tl',),
 ('total_bc_limit',),
 ('total_bal_il',),
 ('total_bal_ex_mort',),
 ('total_acc',),
 ('tot_hi_cred_lim',),
 ('tot_cur_bal',),
 ('tot_coll_amt',),
 ('tax_liens',),
 ('revol_bal',),
 ('recoveries',),
 ('pymnt_plan',),
 ('pub_rec_bankruptcies',),
 ('pub_rec',),
 ('policy_code',),
 ('percent_bc_gt_75',),
 ('pct_tl_nvr_dlq',),
 ('out_prncp_inv',),
 ('out_prncp',),
 ('open_rv_24m',),
 ('open_rv_12m',),
 ('open_il_24m',),
 ('open_il_12m',),
 ('open_act_il',),
 ('open_acc_6m',),
 ('open_acc',),
 ('num_tl_op_past_12m',),
 ('num_tl_90g_dpd_24m',),
 ('num_tl_30dpd',),
 ('num_tl_120dpd_2m',),
 ('num_sats',),
 ('num_rev_tl_bal_gt_0',),
 ('num_rev_accts',),
 ('num_op_rev_tl',),
 ('num_il_tl',),
 ('num_bc_tl',),
 ('num_bc_sats',),
 ('num_actv_rev_tl',),
 ('num_actv_bc_tl',),
 ('num_accts_ever_120_pd',),
 ('mths_since_recent_inq',),
 ('mths_since_recent_bc',),
 ('mths_since_rcnt_il',),
 ('mort_acc',),
 ('mo_sin_rcnt_tl',),
 ('mo_sin_rcnt_rev_tl_op',),
 ('mo_sin_old_rev_tl_op',),
 ('mo_sin_old_il_acct',),
 ('max_bal_bc',),
 ('loan_status',),
 ('loan_amnt',),
 ('last_pymnt_amnt',),
 ('int_rate',),
 ('installment',),
 ('inq_last_6mths',),
 ('inq_last_12m',),
 ('inq_fi',),
 ('initial_list_status',),
 ('index',),
 ('il_util',),
 ('home_ownership',),
 ('hardship_flag',),
 ('dti',),
 ('delinq_amnt',),
 ('delinq_2yrs',),
 ('debt_settlement_flag',),
 ('collections_12_mths_ex_med',),
 ('collection_recovery_fee',),
 ('chargeoff_within_12_mths',),
 ('bc_util',),
 ('bc_open_to_buy',),
 ('avg_cur_bal',),
 ('application_type',),
 ('annual_inc',),
 ('all_util',),
 ('acc_open_past_24mths',),
 ('acc_now_delinq',),
 ('Unnamed: 0',)]

In [62]:
# Split the X and y into X_train, X_test, y_train, y_test
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [63]:
# Resample the training data with the RandomOversampler
# Train the Classifier
from sklearn.datasets import make_classification 
X, y = make_classification(n_classes=2, class_sep=2,
 weights=[0.1, 0.9], n_informative=3, n_redundant=1, flip_y=0,
 n_features=20, n_clusters_per_class=1, n_samples=1000, random_state=10)
print('Original dataset shape %s' % Counter(y))

X_train, X_test, y_train, y_test = train_test_split(X, y,
                                                     random_state=0)
Counter(y_train)

Original dataset shape Counter({1: 900, 0: 100})

Counter({1: 673, 0: 77})

In [64]:
# Scale the data
X_scaled = data_scaler.fit_transform(X)
data_scaler = MinMaxScaler(feature_range=(-10, 10))

In [67]:
# Scale your data
from sklearn.preprocessing import MinMaxScaler
X_scaler = MinMaxScaler().fit(X_train)

In [68]:
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [69]:
 X_train_scaled

array([[0.29110716, 0.34241517, 0.14714628, ..., 0.60987837, 0.4739606 ,
        0.44296201],
       [0.53129035, 0.30372084, 0.27886754, ..., 0.68361601, 0.43743118,
        0.52721236],
       [0.62144716, 0.43845757, 0.56784752, ..., 0.35053628, 0.58191482,
        0.68377627],
       ...,
       [0.17736528, 0.08972066, 0.64203985, ..., 0.54353747, 0.46885028,
        0.45207734],
       [0.55661181, 0.45484338, 0.30850563, ..., 0.7503999 , 0.50057201,
        0.52096302],
       [0.37034861, 0.23932375, 0.84681239, ..., 0.61421988, 0.45503202,
        0.61736147]])

In [70]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
model.fit(X_train, y_train)

LogisticRegression()

In [71]:
 print(f"Training Data Score: {model.score(X_train, y_train)}")
print(f"Testing Data Score: {model.score(X_test, y_test)}")

Training Data Score: 0.9986666666666667
Testing Data Score: 1.0